
services:
  wazuh.manager:
    image: wazuh/wazuh-manager:5.0.0
    hostname: wazuh.manager
    restart: always
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 655360
        hard: 655360
    ports:
      - "1514:1514"
      - "1515:1515"
      - "514:514/udp"
      - "55000:55000"
    environment:
        - WAZUH_INDEXER_HOSTS=wazuh.indexer:9200
        - WAZUH_NODE_NAME=manager
        - WAZUH_CLUSTER_NODES=wazuh.manager
        - INDEXER_USERNAME=${INDEXER_USERNAME}
        - INDEXER_PASSWORD=${INDEXER_PASSWORD}
        - API_USERNAME=${API_USERNAME}
        - API_PASSWORD=${API_PASSWORD}
    volumes:
      - /srv/wazuh/api_configuration:/var/ossec/api/configuration
      -  /srv/wazuh/etc:/var/ossec/etc
      -  /srv/wazuh/logs:/var/ossec/logs
      -  /srv/wazuh/queue:/var/ossec/queue
      -  /srv/wazuh/var_multigroups:/var/ossec/var/multigroups
      -  /srv/wazuh/active_response:/var/ossec/active-response/bin
      -  /srv/wazuh/wodles:/var/ossec/wodles
      -  /srv/wazuh/certificates/root-ca.pem:/etc/filebeat/certs/root-ca.pem
      -  /srv/wazuh/certificates/wazuh.manager.pem:/etc/filebeat/certs/filebeat.pem
      - /srv/wazuh/certificates/wazuh.manager-key.pem:/etc/filebeat/certs/filebeat-key.pem

  wazuh.indexer:
    image: wazuh/wazuh-indexer:5.0.0
    hostname: wazuh.indexer
    restart: always
    ports:
      - "9200:9200"
    environment:
      - OPENSEARCH_JAVA_OPTS=-Xms1g -Xmx1g
      - bootstrap.memory_lock=true
      - network.host=wazuh.indexer
      - node.name=wazuh.indexer
      - cluster.initial_cluster_manager_nodes=wazuh.indexer
      - node.max_local_storage_nodes=1
      - plugins.security.allow_default_init_securityindex=true
      - NODES_DN=CN=wazuh.indexer,OU=Wazuh,O=Wazuh,L=California,C=US
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - /srv/wazuh/indexer-data:/var/lib/wazuh-indexer
      - /srv/wazuh/certificates/root-ca.pem:/usr/share/wazuh-indexer/config/certs/root-ca.pem
      - /srv/wazuh/certificates/wazuh.indexer-key.pem:/usr/share/wazuh-indexer/config/certs/indexer-key.pem
      - /srv/wazuh/certificates/wazuh.indexer.pem:/usr/share/wazuh-indexer/config/certs/indexer.pem
      - /srv/wazuh/certificates/admin.pem:/usr/share/wazuh-indexer/config/certs/admin.pem
      - /srv/wazuh/certificates/admin-key.pem:/usr/share/wazuh-indexer/config/certs/admin-key.pem

  wazuh.dashboard:
    image: wazuh/wazuh-dashboard:5.0.0
    hostname: wazuh.dashboard
    restart: always
    ports:
      - 443:5601
    environment:
      - SERVER_PORT=5601
      - SERVER_HOST=0.0.0.0
      - OPENSEARCH_HOSTS=https://wazuh.indexer:9200
      - INDEXER_USERNAME=${INDEXER_USERNAME}
      - INDEXER_PASSWORD=${INDEXER_PASSWORD}
      - WAZUH_API_URL=https://wazuh.manager
      - DASHBOARD_USERNAME=${DASHBOARD_USERNAME}
      - DASHBOARD_PASSWORD=${DASHBOARD_PASSWORD}
      - API_USERNAME=${API_USERNAME}
      - API_PASSWORD=${API_PASSWORD}
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - /srv/wazuh/certificates/wazuh.dashboard.pem:/usr/share/wazuh-dashboard/config/certs/dashboard.pem
      - /srv/wazuh/certificates/wazuh.dashboard-key.pem:/usr/share/wazuh-dashboard/config/certs/dashboard-key.pem
      - /srv/wazuh/certificates/root-ca.pem:/usr/share/wazuh-dashboard/config/certs/root-ca.pem
      - /srv/wazuh/dashboard-config:/usr/share/wazuh-dashboard/data/wazuh/config
      - /srv/wazuh/dashboard-custom:/usr/share/wazuh-dashboard/plugins/wazuh/public/assets/custom
    depends_on:
      - wazuh.indexer
    links:
      - wazuh.indexer:wazuh.indexer
      - wazuh.manager:wazuh.manager
