services:
  portainer:
    image: portainer/portainer-ce:lts
    restart: always
    ports:
      - 8000:8000
      - 9000:9000
      - 9443:9443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:Z
      - /usr/local/portainer/data:/data:Z
    healthcheck:
      test: ["CMD", "curl", "-f", "https://localhost:9443/api/status"]
      interval: 30s
      timeout: 10s
      retries: 3
